/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background:lightgray;
  
}

h1 {
  font-size: 30px;
  font-family: Calibri;
  color: aquamarine;
  text-decoration-color: black;
  text-decoration: black;
  text-shadow: black 10px;
}

h5 {
  color: aquamarine;
}

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 0rem 0rem;
  background: #5191fd;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  /* padding: 20px;
  margin-right: 10px;
  margin-left: 10px; */
  cursor: pointer;
  background: #fff;
  /* border-radius: 3px; */
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

.navbar select {
  visibility: hidden;
}

.navbar-brand {
  background-color: teal;
  color: white;
}

.navbar-nav {
  background-color: white;
  padding-left: 850px;

}

.nav-link {
    background-color: white;
    color: black;

}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

.main {
  background-color: white;
  /* margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%; */
  padding: 5%;
}

.box main {
  min-height: 50px;
  padding: 0px 15px;
  margin: 15px;
  font-weight: 800;
  color: #fff;

}

.primary {
  border: 2px solid #f00;
  margin: -2px;
}

.textwrap {
  float: left;
  margin: 10px;
}

.table {
 padding: 5%;
 background-color: white;

}

@media(max-width:600px) {

.navbar li {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;

  }

.post {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
  }  
.navbar ul{
visibility: hidden;
}

.navbar select {
  visibility: visible;  
  padding: 20px;
}
}